.menu-item {
  min-width: 30%;
  height: 324px;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 60px 2px 4px;
  overflow: hidden;

  @media screen and (max-width: 800px) {
    margin: 0 7px 10px;
    padding: 0;
  }
  &.small {
    height: 380px;
  }

  &.large {
    height: 380px;
    margin: 20px 0 0 0;

    @media screen and (max-width: 800px) {
      height: 200px;
      padding: 0;
    }
  }

  &:hover {
    cursor: pointer;

    // & .background-image {
    //   transform: scale(1.1);
    //   transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    //   overflow: hidden;
    // }

    & .content {
      opacity: 1;
    }
  }

  &:first-child {
    margin-right: 7.5px;
  }

  &:last-child {
    margin-left: 7.5px;
  }

  @media screen and (max-width: 800px) {
    height: 200px;
  }

  .background-image {
    width: 95%;
    height: 100%;
    background-position: center;
    background-size: cover;
    overflow: hidden;
  }

  .content {
    width: 340px;
    height: 90px;
    padding: 70px 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "syne";
    text-transform: lowercase;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    position: absolute;
    margin: 165px 0 0 0;

    .title {
      font-weight: 400;
      margin-bottom: 6px;
      font-size: 26px;
      color: #fff;
      text-transform: capitalize;
      font-family: "syne";
      letter-spacing: 3px;
    }

    .subtitle {
      font-weight: 800;
      font-size: 16px;
      text-transform: lowercase;
      font-family: "syne";
      border-radius: 0rem;
      padding: 0.5rem;
      background-color: #cfd8dc;

      &:hover {
        background-color: #fbe9e7;
      }
    }
  }
}
